.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $color-light-100;
  background: $color-primary;
  border-radius: 45px;
  padding: 18px 24px;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: 550px) {
    & {
      font-size: 16px;
      line-height: 20px;
      padding: 14px 20px;
    }
  }
}
