.hero {
  display: flex;
  align-items: center;
  column-gap: 130px;

  &__text {
    max-width: 570px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__form-fieldset {
    position: relative;
  }

  &__form-fieldset_type_location::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 24px;
    background-color: $color-light-200;
    opacity: 0.24;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__form-fieldset::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__form-fieldset_type_location {
    padding-right: 32px;
  }

  &__form-fieldset_type_date {
    margin-left: 32px;
    margin-right: 32px;
  }

  &__form-fieldset_type_location::after {
    background-image: url(./img/icons/location.svg);
  }

  &__form-fieldset_type_date::after {
    background-image: url(./img/icons/calendar-2.svg);
  }

  &__form {
    display: flex;
    max-width: 469px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
    border-radius: 58px;
    background-color: $color-light-100;
    padding: 16px 27px;
    box-sizing: border-box;
  }


  &__form-location {
    display: none;
    position: absolute;
    border: 1px solid $color-light-200;
    border-radius: 10px;
    width: 320px;
    padding: 3px 7px;
    box-sizing: border-box;

    &_active {
      display: block;
    }
  }

  &__button-ok {
    width: 55px;
    height: 24px;
    position: absolute;
    border: none;
    border-radius: 7px;
    background-color: $color-primary;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
    color: $color-light-100;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    right: -127px;
    top: 38px;
    display: none;

    &_active {
      display: block;
    }
  }

  &__form-title {
    color: $color-light-200;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    padding-left: 38px;
    margin-bottom: 6px;
    padding-right: 6px;
    display: inline-block;
    position: relative;
  }

  &__form-title::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(./img/icons/arrow-down.svg);
    right: -12px;
    top: 0;
    cursor: default;
  }

  &__form-value {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: $color-dark;
    padding-left: 38px;

    &_type_location {
      width: 123px;
      height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__calendar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }

  &__calendar::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  &__form-title {
    cursor: pointer;
    position: relative;
  }

  &__paragraph {
    margin-bottom: 32px;
  }

  &__images {
    position: relative;
  }

  &__img-large {
    max-width: 370px;
    height: 579px;
    object-fit: cover;
    border-radius: 233px 233px 0px 0px;
    display: block;
  }

  &__img-small {
    max-width: 147px;
    height: 230px;
    object-fit: cover;
    border: 8px solid #ffffff;
    border-radius: 160px;
    position: absolute;
    bottom: 75px;
    right: -115px;
  }

  &__button {
    background-color: $color-primary;
    border: none;
    width: 48px;
    height: 48px;
    background-image: url(./img/icons/search-normal.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
  }
}
