.paragraph-section {
  color: $color-light-200;
  font-weight: 400;
  margin: 0;

  &_type_primary {
    font-size: 24px;
    line-height: 29px;
    max-width: 469px;

    @media (max-width: 425px) {
      & {
        font-size: 22px;
        line-height: 24px;
        max-width: 320px;
        text-align: center;
      }
    }
  }

  &_type_secondary {
    font-size: 20px;
    line-height: 32px;

    @media (max-width:483px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
