.title {
  color: $color-dark;
  margin: 0;
  padding: 0;

  &_type_primary {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);

    @media (max-width: 768px) {
      & {
        font-size: 54px;
        line-height: 60px;
      }
    }

    @media (max-width: 425px) {
      & {
        font-size: 45px;
        line-height: 50px;
      }
    }
  }

  &_type_secondary {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;

    @media (max-width:483px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &_type_secondary-width-large {
    max-width: 591px;
  }
}
