$color-bg: #f5f5f5;

$color-light-100: #fff;
$color-light-200: #808080;

$color-dark: #112b3c;

$color-primary: #e61c5d;
$color-secondary: #ffbd39;

$font-primary: "Barlow", Arial, Helvetica, sans-serif;
